# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Compiled exe files
*.exe

#Visual studio files
\debug
*.sdf
*.sln
*.suo
*.pdb
*.vcxproj
*.filters